@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
	padding: 0;
	margin: 0;
}

body{
	color: ##A9A9A9;
	background-color: #FFD7D2;
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	line-height: 1.5em
}

header{
	font-family: 'Shrikhand', cursive;
	font-size: 1.5em;
	color: #B23727;
	padding-top: 15px;
	padding-bottom: 10px;
}

nav{
	padding-bottom: 15px
}


a{
	text-decoration: none;
	color: #5DB289;
	border-bottom: 1px solid #5DB289;
	padding-bottom: 2px;
}

footer{
	padding-top: 15px;
}


#slogan{
	font-style: italic;
	font-size: 1.5em;
	padding-bottom: 15px;
	
} 